extends layout.pug

//- This pug template dynamically renders all of the data on a given project by pulling from the data.json file.
//- All information, including the project name, description, technologies, links, and images. 

block content
  nav.nav
    a(href='/projects')
      span &larr; Back to Portfolio

  article.portfolio-project
    .grid-container
      .grid-x.grid-margin-x
        .cell.small-12.medium-9.large-9
          h1= thisProject.project_name
          p.lead.text-light= thisProject.description
          
          if thisProject.image_urls && thisProject.image_urls.length > 0
            section.project-section.project-gallery
              h2 Project Gallery
              .slideshow-container
                each imageUrl, index in thisProject.image_urls
                  .slide(class=index === 0 ? 'active' : '')
                    img(src=imageUrl.startsWith('./static') ? imageUrl.substring(1) : imageUrl alt=thisProject.project_name)
                if thisProject.image_urls.length > 1
                  button.nav-button.prev(onclick='changeSlide(-1)') &#10094;
                  button.nav-button.next(onclick='changeSlide(1)') &#10095;
                  .dots-container
                    each _, index in thisProject.image_urls
                      span.dot(onclick=`currentSlide(${index})` class=index === 0 ? 'active' : '')

        .cell.small-12.medium-3.large-3.sidebar
          .project-meta
            h3 Project Details
            
            .meta-item
              h4 Technologies
              .tech-container
                each technology in thisProject.technologies
                  span.tech-tag= technology

            if thisProject.live_link
              .meta-item
                a.button.expanded(href=`${thisProject.live_link}` target='_blank') Live Demo

            if thisProject.github_link
              .meta-item
                a.button.expanded(href=`${thisProject.github_link}` target='_blank') GitHub Repo